@import '~vuetify/src/styles/styles.sass';

// Sidebar //
$drawer-items-padding:                     32px !default;
$navigation-drawer-mini-variant-width:     96px!important;

$card-title-color:  var(--v-greyMedium-base);

// Layout //
$body-bg-dark: #13131a;
$body-bg: #F6F7FF !default;
$content-padding:             24px;

// Typography //
$h1-font-size:               3rem !default;         // 28px
$h2-font-size:               2rem !default;         // 24px
$h3-font-size:               1.64rem !default;      // 22px
$h4-font-size:               1.5rem !default;       // 20px
$h5-font-size:               1.285rem !default;     // 16px
$h6-font-size:               1.142rem !default;     // 14px

$fs-lg:                     1.5rem !default;     // 24px
$fs-larger:                 1.125rem !default;   // 18px
$fs-base:                   1rem !default;       // 16px
$fs-medium:                 0.875rem !default;   // 14px
$fs-index:                  0.75rem !default;    // 12px

// Card //
$card-shadow: 0 3px 11px 0 #E8EAFC, 0 3px 3px -2px #B2B2B21A, 0 1px 8px 0 #9A9A9A1A;

// Buttons //
$button-shadow: $card-shadow;
